/*
* @Author: jjsnc
* @Date:   2018-08-23 16:26:43
* @Last Modified by:   jjsnc
* @Last Modified time: 2018-08-23 16:27:27
*/

.content {
    position: fixed;
    top: 44px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.cube-scroll-nav-bar {
    border-bottom: 1px solid #f4f4f4;
}
.cube-scroll-nav-panel {
    width: 90%;
    margin: auto;
}
.cube-scroll-nav-panel img {
    width: 114px;
    height: 114px;
}
.cube-scroll-nav-panel ul {
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
    color: #666;
}
.cube-scroll-nav-panel li {
    float: left;
    width: 50%;
}
.cube-scroll-nav-panel li div {
    width: 114px;
    margin: 0 auto 15px;
}
.cube-scroll-nav-panel li div p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cube-scroll-nav-panel-title {
    padding: 15px;
    font-size: 16px;
    text-align: center;
}